## Settings file was created by plugin Team Boosters v1.1.4
## Plugin GUID: EvilCheetah.REPO.TeamBoosters

[General]

## Enables Team Upgrades for Map Player Count Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradeMapPlayer = true

## Enables Team Upgrades for Player Energy Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerEnergy = true

## Enables Team Upgrades for Player Extra Jump Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerExtraJump = true

## Enables Team Upgrades for Player Grab Range Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerGrabRange = true

## Enables Team Upgrades for Player Grab Strength Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerGrabStrength = true

## Enables Team Upgrades for Player Grab Throw Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerGrabThrow = true

## Enables Team Upgrades for Player Health Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerHealth = true

## Enables Team Upgrades for Player Sprint Speed Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerSprintSpeed = true

## Enables Team Upgrades for Player Tumble Launch Upgrade
# Setting type: Boolean
# Default value: true
EnableUpgradePlayerTumbleLaunch = true

